.input-field {
        padding: 0.2em 0.6em;
        border-radius: 0.2em;
        border: 1px solid var(--c-border, currentColor);
        color: var(--c-text);
        font-size: 1rem;
        letter-spacing: 0.1ch;
        width: 250px;
}